@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

:root {
    --green1-color: #eef2e3;
    --green2-color: #c8f169;
    --green3-color: #78c51c;
    --green4-color: #2a6f2b;
    --green5-color: #043f2e;
    --white-color: #f9f3ef;

    --header-font-color: var(--green4-color);
    --footer-font-color: var(--green4-color);
}

html {
    font-size: 16px;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0;
    width: 100%;  /* 화면 너비에 맞추기 */
    max-width: 1920px;  /* 최대 너비 1920px로 제한 */
    margin: 0 auto;  /* 중앙 정렬 */
    background-color: #F5F5DD; /* 예시 배경색 */
}

main {
    width: 100%;
    padding: 20px;
    background-color: #F5F5DD; /* 예시 배경색 */
}

header, .footer {
    width: 100%;
    background-color: #F5F5DD; /* 예시 배경색 */
    position: relative;
}

* {
    box-sizing: border-box;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    .footer {
        padding: 10px;
    }
    .footer .emailTitle {
        font-size: 18px;
        bottom: 200px;
    }
    .footer .email {
        font-size: 16px;
        left: 20px;
    }
    .footer .copyRight {
        font-size: 18px;
        bottom: -20px;
    }
    .footer .footerLinks a {
        font-size: 20px;
    }
    .footer .logoDiv {
        font-size: 200px;
    }
}

